/*GENERAL*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0B1D26;
    color:#F2F5F5;
    overflow-x:hidden;
}

/*BUSCADOR*/

.filtros{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-top: 10px;
    margin-bottom: 20px;
}

.filtros input{
    width:360px;

    padding:16px;

    background:#102733;

    color:white;

    border:2px solid #9EFF00;

    border-radius:40px;

    outline:none;
}

.filtros select{
    width:200px;

    border-radius:40px;

    background:#102733;

    color:white;

    border:2px solid #7DE8E5;
}

/* PERSONAJES*/

.titulo{
    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-top: 30px;

    color: #7DE8E5;

    text-shadow: 0 0 2px #7DE8E5;
}

#characters{
    display:flex;
    flex-wrap: wrap;
    gap:25px;
}

/*TARJETAS*/

.character-card{
    width:200px;

    background:#102733;

    border:3px solid #1E5E63;

    border-radius:18px;

    overflow:hidden;

    cursor:pointer;

    transition:.35s;
}

.character-card:hover{
    transform:translateY(-10px);

    border: 3px solid #7DE8E5;
    box-shadow: 0 0 10px #7DE8E5;
}

.character-card img{
    width:100%;
}

.character-card h3{
    margin:18px;

    color:white;
}

.character-card p{
    margin:0 18px 10px;

    color:#C7D7D8;
}

.paginacion{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;

    margin: 40px auto;
}

#anterior,
#siguiente{
   margin-top: 10px;

    width: 50px;
    height: 50px;

    border: 2px solid #7DE8E5;
    border-radius: 50%;

    background-color: #0B1D26;
    color: #ffffff;

    font-size: 28px;
    cursor: pointer;

    transition: 0.3s;
}

#anterior:hover,
#siguiente:hover{
    box-shadow:0 0 10px #7DE8E5;
}

#numero-pagina{
      display:flex;

    justify-content:space-between;

    align-items:center;

    margin-top: 10px;

    color: #7DE8E5;

    text-shadow: 0 0 2px #7DE8E5;
}

@media (max-width:1024px){

    nav{
        flex-direction:column;
        gap:20px;
    }

    .hero{
        flex-direction:column;
        text-align:center;
        padding:40px 20px;
    }

    .hero p{
        margin:auto;
        margin-top:20px;
    }

    #filters,
    .filtros{
        justify-content:center;
    }

    .SINOPSIS{
        flex-direction:column;
        text-align:center;
    }

    .stats{
        grid-template-columns:repeat(2,1fr);
    }

    #characters{
        justify-content:center;
        flex-wrap:wrap;
    }

}

@media (max-width:768px){

    nav ul{
        flex-direction:column;
        gap:15px;
        text-align:center;
    }

    .logo{
        width:170px;
    }

    .hero h1{
        font-size:2.7rem;
        text-align:center;
    }

    .hero p{
        font-size:1rem;
        text-align:center;
    max-width:100%;
    margin:20px auto;
    }

    .hero-text{
    width:100%;
    text-align:center;
}

.titulo{
    justify-content:center;
    text-align:center;
}

    #filters,
    .filtros{
        flex-direction:column;
        align-items:center;
    }

    #filters input,
    .filtros input,
    #filters select,
    .filtros select{

        width:90%;
    }

    .carousel-container{
    flex-direction:column;
    gap:15px;
}

    .character-card{
        width:150px;
    }

    .SINOPSIS{
    flex-direction:column;
    text-align:center;
    justify-content:center;
  padding:20px;
    }

    .SINOPSIS img{
        width:220px;
    }

    .stats{
        grid-template-columns:1fr;
    }

    #detalle{
        flex-direction:column;
        text-align:center;
        width:90%;
    }

    #detalle img{
        width:220px;
    }

    .destacados,
.sinopsis-section,
.estadistic-section{

    width:90%;
    margin:40px auto;

    display:flex;
    flex-direction:column;
    align-items:center;
}
}